# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
_ReSharper.Amido.Azure.Storage.TableStorage

# mstest test results
TestResults
*.dat
*.suo
*.user
*.ncrunchsolution
_ReSharper.Amido.Azure.Storage.TableStorage
